@border-color: #F0F0F0;

@h1-color: #666;

.nxf-layout {
  display: flex;
  min-height: calc(100vh - 100px);
  background-color: #f7f8fa;

  .nxf-layout-left {
    width: 300px;
    background-color: white;

    .nxf-h1 {
      border-bottom: 1px solid @border-color;
      padding: 0 7px;
      font-size: 18px;
      font-weight: bold;
      text-align: center;
      color: #1d2129;
      background-color: white;
      line-height: 40px;
    }

    .nxf-layout-item {
      padding: 0 20px;

      .nxf-layout-item-title {
        padding: 0 20px;
        font-weight: bold;
        line-height: 40px;
      }

      .nxf-layout-item-content {
        .nxf-layout-item-content-draggable {
          display: flex;
          flex-wrap: wrap;

          .nxf-component-card {
            margin: 4px;
            border: 1px solid @border-color;
            border-radius: 2px;
            width: 120px;
            text-align: center;
            background-color: white;
            line-height: 34px;
            box-sizing: border-box;
            cursor: move;
          }
        }
      }
    }
  }

  .nxf-layout-center {
    margin: 0 14px;
    padding: 30px;
    flex: 1;
    background-color: white;

    .nxf-layout-content {
      width: 100%;
      height: 100%;

      .nxf-layout-content-form {
        height: 100%;
      }

      .nxf-layout-content-draggable {
        height: 100%;

        .nxf-layout-content-form-item {
          position: relative;
          margin-bottom: 4px;
          border: 1px solid transparent;
          padding: 10px;
          width: 100%;
          box-sizing: border-box;
          cursor: move;

          &:hover {
            border: 1px solid #64b4fe;
          }
        }

        .nxf-layout-content-form-item-active {
          border: 1px solid #1890ff;
        }
      }
    }
  }

  .nxf-layout-right {
    padding: 10px;
    width: 320px;
    background-color: white;

    .nx-form-setting-title {
      margin: 0 0 10px 10px;
      font-size: 16px;
    }
  }
}

.nx-form-setting-modal-item {
  margin-bottom: 10px;
}

.delIcon {
  cursor: pointer;
  font-size: 16px;

  &:hover {
    color: red;
  }
}

.flex-base {
  display: flex;
  align-items: center;
}

.flex-row {
  &:extend(.flex-base);

  flex-direction: row;
}

.flex-row-center {
  &:extend(.flex-row);

  justify-content: center;
}

.flex-column {
  &:extend(.flex-base);

  flex-direction: column;
}

.flex-column-center {
  &:extend(.flex-column);

  justify-content: center;
}

.flex-between {
  &:extend(.flex-base);

  justify-content: space-between;
}
