@border-color: #ccc;

@h1-color: #666;

.nxf-layout {
  display: flex;
  min-height: 100vh;

  .nxf-layout-left {
    border: 1px solid @border-color;
    width: 300px;

    .nxf-h1 {
      border-bottom: 1px solid @border-color;
      padding: 0 7px;
      font-size: 20px;
      color: @h1-color;
      line-height: 50px;
    }

    .nxf-layout-item {
      border-bottom: 1px solid @border-color;

      .nxf-layout-item-title {
        padding: 0 7px;
        background-color: #eee;
        line-height: 30px;
      }

      .nxf-layout-item-content {
        .nxf-layout-item-content-draggable {
          display: flex;

          .nxf-component-card {
            border: 1px solid @border-color;
            width: 100px;
            height: 30px;
            text-align: center;
            line-height: 30px;
            box-sizing: border-box;
            cursor: move;
          }
        }
      }
    }
  }

  .nxf-layout-center {
    flex: 1;
    border: 1px solid @border-color;
    padding: 30px;

    .nxf-layout-content {
      width: 100%;
      height: 100%;

      .nxf-layout-content-form {
        height: 100%;
      }

      .nxf-layout-content-draggable {
        height: 100%;

        .nxf-layout-content-form-item {
          cursor: move;
          width: 100%;
        }

        .nxf-layout-content-form-item-active {
          border: 2px solid #1890ff;
        }
      }
    }
  }

  .nxf-layout-right {
    border: 1px solid @border-color;
    width: 300px;
  }
}
