.root-layout {
  .header {
    border-bottom: 1px #e1e1e1 solid;
  }
  .sider-menu {
    width: auto;
    display: block;
    overflow: hidden;
    background-color: var(--color-neutral-2);
    height: calc(100vh - 58px)
  }
  .root-content {
    padding: 15px;
  }
}


