.nxf-layout-form-pc {
  margin: 0 auto;
  min-width: 750px;

  :deep(.arco-row-justify-start) {
    align-items: flex-start;

    .arco-form-item-label-col {
      margin-top: 8px;
      padding-right: 6px;
      padding-left: 4px;
      line-height: 16px;
      flex: 0 0 80px !important;
    }
  }
}

.form-title {
  margin: 10px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.json-view {
  width: 400px;
}

@media screen and (max-width: 480px) {
  .nxf-layout-form-pc {
    // overflow: hidden;
    margin: 0 auto;
    min-width: 100%;

    :deep(.arco-upload-wrapper) {
      width: 300px;
    }
  }
}
