.nxf-layout-form-pc {
  margin: 0 auto;
  min-width: 750px;

  :deep(.operate-btn) {
    margin-right: 10px;
    padding: 0;
    color: #0089ff;
  }

  :deep(.arco-row-justify-start) {
    align-items: flex-start;
  }

  :deep(.arco-form-item-label) {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  :deep(.arco-input:disabled),
  :deep(.arco-textarea:disabled),
  :deep(.arco-checkbox-label),
  :deep(.arco-select-view-single.arco-select-view-disabled) {
    -webkit-text-fill-color: #1c212a;
  }

  :deep(.arco-picker input) {
    color: #1c212a;
  }

  :deep(.nxf-row) {
    margin-bottom: -20px;
  }

  :deep(.arco-upload-wrapper) {
    .arco-upload-list-item:first-of-type {
      margin-top: 10px;
    }

    width: 250px;
  }
}

:deep(.arco-table-th-resizing),
:deep(.arco-table-td-resizing:not(.arco-table-tr-expand)) {
  border-right: 1px solid var(--color-neutral-3);
}

:deep(.arco-form-item-content-wrapper) {
  display: block;
}

:deep(.arco-table) {
  overflow: auto;

  .arco-table-cell {
    // min-width: 100px;

    .arco-select-view-single {
      // display: block;
      width: 120px;
    }
  }
}

.form-title {
  margin: 10px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.json-view {
  width: 400px;
}

/deep/ input::-webkit-input-placeholder {
  color: #c9cdd4;
}

/deep/ input::-moz-placeholder {   /* Mozilla Firefox 19+ */
  color: #c9cdd4;
}

/deep/ input:-moz-placeholder {    /* Mozilla Firefox 4 to 18 */
  color: #c9cdd4;
}

/deep/ input:-ms-input-placeholder {  /* Internet Explorer 10-11 */
  color: #c9cdd4;
}

@media screen and (max-width: 480px) {
  .nxf-layout-form-pc {
    // overflow: hidden;
    margin: 0 auto;
    min-width: 100%;

    :deep(.arco-upload-wrapper) {
      width: 250px;
    }

    :deep(.arco-table) {
      overflow: auto;
      width: calc(100vw - 20px) !important;

      .arco-table-container {
        overflow-x: auto;
        width: 700px;

        .arco-table-content {
          overflow-x: auto;
        }
      }
    }

    :deep(.card-del) {
      margin-left: -6px;
      width: 24px;
      height: 24px;
      line-height: 20px;
    }
  }
}
